[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An open source real-time network topology and protocols analyzer
[access "refs/*"]
	owner = group user/Masco Kaliyamoorthy (masco)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Masco Kaliyamoorthy (masco)
	label-Verified = -1..+1 group user/Masco Kaliyamoorthy (masco)
	push = group user/Masco Kaliyamoorthy (masco)
	read = group user/Masco Kaliyamoorthy (masco)
	rebase = group user/Masco Kaliyamoorthy (masco)
	removeReviewer = group user/Masco Kaliyamoorthy (masco)
	submit = group user/Masco Kaliyamoorthy (masco)
[access "refs/heads/*"]
	create = group user/Masco Kaliyamoorthy (masco)
	push = +force group user/Masco Kaliyamoorthy (masco)
	pushMerge = group user/Masco Kaliyamoorthy (masco)
	read = group user/Masco Kaliyamoorthy (masco)
[access "refs/tags/*"]
	push = group user/Masco Kaliyamoorthy (masco)
	push = +force group user/Masco Kaliyamoorthy (masco)
